body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(214, 141, 141);
    display: flex;
    justify-content: center;
}

h1{
    color: rgb(86, 194, 185);
}
.contenedor{
    width: 100%;
    max-width: 900px;
    height: 100%;
    min-height: 800px;
    padding-left: 20px;
    background-color: white;
}

.pieFoto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    color: darkblue;
}